body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  height: 100vh;
  width: 100vw;
}

.header{
  font-size: 35px;
  font-weight: bold;
  background-color: #156A6A;
  color: #fff;
  padding: 0.5rem 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content{
  height: 100vh;
  width: 100vw;
}

.footer{
  font-size: 15px;
  font-weight: bold;
  background-color: #2e2e2e;
  color: #fff;
  padding: 0.25rem 0.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.CreateItemFormComponent, .ItemListComponent{
  padding: 150px 20px;
}

.bg-light-grey{
  background-color: #e1e1e1;
}

.row{
  margin: 0 !important;
}

.heading5{
  font-weight: bold;
  color:#156A6A;
  margin-bottom: 1.25rem;
}

.form-label{
  font-weight: bold;
  margin-bottom: .15rem;
}

.btn-success{
  background: #156a6a !important;
}

.btn-success:hover{
  background: #105b5b !important;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ae2230 !important;
  border-color: #c62d3c;
}

.form-check-input[type="checkbox"] {
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
  height: 20px;
  width: 20px;
}